* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F6F8F9;
}

header {
    padding: 20px;
    height: 100px;
    background-color: white;
}

header img {
    vertical-align: -15px;
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

main {
    width: 900px;
    height: 700px;
    background-color: white;
    margin: 50px auto;
}

.nav {
    height: 60px;
    border-bottom: 2px solid #F6F8F9;
    padding-left: 70px;
    padding-top: 15px;
}

.nav button {
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.b1 {
    color: white;
    background-color: #47ADF1;
}

.b2 {
    color: lightgrey;
    background-color: white;
}

section {
    padding-left: 70px;
    margin-top: 25px;
}

.symbol {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid #6DC4AF;
    border-radius: 50%;
    color: #6DC4AF;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 5px;
    margin-right: 10px;
}

.box {
    width: 75px;
    height: 30px;
    background-color: #45ABEA;
    border-radius: 15px;
    border: none;
    vertical-align: middle;
    color: white;
    font-style: bold;
}

.block {
    margin-top: 15px;
}

.cross {
    border: 2px solid red;
    color: red;
}
